@CHARSET "UTF-8";

html
{
  /* Always displaying Scrollbar */
	overflow-y: scroll !important;
}

body
{
  padding-top   : 57px;
  padding-bottom: 77px;
}

*.tm-list
{
	max-height   : 300px;
	margin       : 2px;
}

*.tm-scrollbar
{
	overflow-y: scroll !important;
}

*.box
{
	display           : block;
	background-color  : snow;
	border            : 1px solid #e3e3e3;
	border-radius     : 4px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .05) inset;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, .05) inset;
  padding           : 0px 0px 0px 7px;
  margin            : 2px 0px 2px 0px;
}

*.box
*.box-title
{
	display           : inline-block;
  border            : 1px solid #e3e3e3;
  border-radius     : inherit;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .05);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, .05);
  margin            : -1px 6px 6px -8px;
  padding           : 2px 7px 2px 9px;
  color             : gray;
  font-size         : 1.1em;
  font-weight       : bold;
  font-variant      : small-caps;
	background-color  : white;
}

*.box
*.box-content
{
	display: block;
	margin : 3px;
}
